.home-card{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.805) ;
    margin-bottom: 20px;
    display: flex;    
}
.card-text{
    width: 50%;
    color: white;
    font-size: x-large;
    align-items: center;
    margin-top: 90px;
    padding: 20px;

}

.card-image img{
    max-height: 500px;
}

@media screen and (max-width: 576px){
    .home-card{
        flex-direction: column;
    }
    .card-text{
        width: 100%;
    }
    .card-image img{
        display: none;
    }
}
@media screen and (min-width:577px) and (max-width: 992px) {
    .home-card{
        flex-direction: column;
    }
    .card-text{
        width: 100%;
    }
    .card-image img{
        display: none;
    }
}