.quiz-container{
    display: flex;
    justify-content: center;
}
.home{
    margin-top: 50px;
}

@media screen and (max-width: 576px){
    .quiz-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
}
@media screen and (min-width:577px) and (max-width: 992px) {
    .quiz-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
}